body {
	background: #FFF3F3 no-repeat center center fixed;
	font-family: Georgia;
	min-width: 1130px;
}
#head-contain {
	position: relative;
	top: -50px;
	left: -10px;
	width: 105%;
	height: 300px;
	background-image: url("pikesbg.jpg");
	background-position: -180px -100px;
	background-size: ;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
img {
	height: 120px;
	position: relative;
	float: right;
	clear: right;
	top: 25px;
	right: -100px;
}
h1 {
	font-family: 'Courgette';
	font-weight: ;
	color: #AA3939;
	text-align: left;
	font-size: 55px;
	position: relative;
	margin-left: 150px;
	text-shadow: 2px 1px 2px #666;
}
h1 span {
	font-family: 'Pacifico';
	font-weight: lighter;
}
#head-contain h2{
	font-family: 'Pacifico';
	color: #415F5F;
	font-weight: lighter;
	font-size: 26px;
	text-align: right;
	position: relative;
	top: -20px;
	right: 350px;
	line-height: 18px;
}
#head-contain h2 span {
	position: relative;
	left: 50px;
}
nav {
	width: 100%;
	height: 50px;
	display: block;
}
#nav-bar {
	width: 105%;
	height: 50px;
	background-color: #091708;
	position: absolute;
	top: 300px;
	text-align: center;
	vertical-align: middle;
	box-shadow: 3px 3px 3px #666;
}
nav li {
	display: inline;

}
nav ul {
	margin-left: -80px;
	list-style: none;
	display: inline;

}
nav a {
	font-size: 20px;
	font-family: 'Georgia';
	padding-right: 90px;
	text-decoration: none;
	color: #B1CDE3;
	
	position: relative;
	top: 12px;
}
nav a:hover {
	text-decoration: underline;
}
h2 {
	position: relative;
	margin-top: 45px;
	text-align: center;
	font-family: 'Montserrat';
	font-size: 30px;
}
ul {
	position: relative;
}
p {
	
}
a {
	color: #415F5F;
	font-weight: bold;
}
table {
	background-color: #C29A9A;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
td {
	padding: 20px;
	border-bottom: 1px solid #7D4E4E;
	border-right: 1px solid #7D4E4E;
	color: #FFF2F2;
	font-family: Arial;
	text-shadow: 2px 1px 1px #7D4E4E;
	font-size: 20px;
}



footer {
	text-align: right;
	margin-right: 50px;
	font-family: Arial;
	position: relative;
	top: 15px;
	color: #976F6F;
	margin-top: 100px;
	padding-bottom: 50px;

}